<div class="subscription-form-block">

  <div class="panel-container">
    <!-- <small>
      Don't miss out the latest
    </small> -->
    <h3>
      Don't miss out the latest
    </h3>
    <form id="myform" method="POST">
      <input type="email" id="email" name="email" placeholder="Email address" />
      <button id="my-form-button">Keep Learning</button>
      <p style="color: white;" id="my-form-status"></p>
    </form>
  </div> 
  
<!-- modify this form HTML and place wherever you want your form -->
<!-- <form id="myform" method="POST">
  <label>Email:</label>
  <input type="email" id="email" name="email" />
  <button id="my-form-button">Submit</button>
  <p id="my-form-status"></p>
</form> -->

<!-- Insert this script at the bottom of the HTML, but before you use any Firebase services -->
<script type="module"  src="{{ assets_base_url }}/assets/js/subscriber.js"></script>
</div>


  <!-- Place this script at the end of the body tag -->
  <!-- <script>
      var form = document.getElementById("my-form");
      
      async function handleSubmit(event) {
        event.preventDefault();
        var status = document.getElementById("my-form-status");
        var data = new FormData(event.target);
        fetch(event.target.action, {
          method: form.method,
          body: data,
          headers: {
              'Accept': 'application/json'
          }
        }).then(response => {
          if (response.ok) {
            status.innerHTML = "Thanks for your submission!";
            form.reset()
          } else {
            response.json().then(data => {
              if (Object.hasOwn(data, 'errors')) {
                status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
              } else {
                status.innerHTML = "Oops! There was a problem submitting your form"
              }
            })
          }
        }).catch(error => {
          status.innerHTML = "Oops! There was a problem submitting your form"
        });
      }
      form.addEventListener("submit", handleSubmit)
  </script> -->